

body {
  background-color: var(--bg-dark);
  color: var(--text-body);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  color: var(--text-title);
  font-weight: 800;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 3rem;
  background: linear-gradient(to right, var(--purple-main), var(--purple-glow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Michroma;
}

a {
  text-decoration: none;
  transition: 0.3s;
}



