#home {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & h1 {
        font-size: 4rem;
    }

    & p {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-family: "Press Start 2P";
        position: relative;


        & #textWrite{
            position: relative;
            font-style: italic;
            color: var(--color-dark);
            text-shadow: 0 0 10px var(--color-dark);

            &::after{
                content: '';
                height: 120%;
                width: 3px;
                position: absolute;
                top: 50%;
                right: 0;
                background-color: #fff;
                transform: translateX(5px) translateY(-50%) rotate(10deg);
                z-index: 99;
                animation: writer 0.3s infinite;
            }
        }
    }



    & .cv-button {
        padding: 1.2rem 0;
        border-radius: 50px;
        width: 200px;
        font-size: 20px;
        color: #fff;
        border: none;
        background-color: var(--color-main);
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        user-select: none;

        &:hover {
            filter: brightness(1.2);
            box-shadow: 0 0 25px var(--color-main);
            color: var(--color-dark);
        }
    }
}