#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    & .container-projects {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;

        & .card-projects {
            position: relative;
            min-height: 350px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            overflow: hidden;

            &:hover::after {
                opacity: 1;
                transform: translateX(-50%) translateY(-5px);
            }

            &::after {
                content: attr(data-tooltip);
                position: absolute;
                text-align: center;
                top: 10px;
                left: 50%;
                transform: translateX(-50%) translateY(0);
                backdrop-filter: blur(10px);
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(255, 255, 255, 0.08);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                color: #fff;
                padding: 6px 10px;
                border-radius: 16px;
                font-size: 0.75rem;
                opacity: 0;
                transition: all 0.2s ease;
                pointer-events: none;
            }

            & img {
                width: 100%;
                height: 50%;
                object-fit: cover;
            }

            & h3,
            & p {
                margin: 0.5rem;
            }

            & button {
                position: absolute;
                bottom: 5%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}